/*-----------------------------------------------------------------------------------*/
/*	00. RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background: #fff000;
}

ul {
  list-style-type: none;
}

.bold {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*-----------------------------------------------------------------------------------*/
/*	01. FONT-FACE
/*-----------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Bangla MN';
  src: url("font/Bangla MN.ttc");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Std';
  src: url("font/BauerBodoniStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice Display';
  src: url("font/bea/Beatrice Display Regular Italic.otf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src:  url("font/graphik/Graphik-700-Bold.otf");
  src: url('Graphik-Bold.eot');
  src: url('Graphik-Bold.eot?#iefix') format('embedded-opentype'),
    url('Graphik-Bold.woff2') format('woff2'),
    url('Graphik-Bold.woff') format('woff'),
    url('Graphik-Bold.ttf') format('truetype'),
    url('Graphik-Bold.svg#Graphik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src:  url("font/graphik/Graphik-600-Semibold.otf");
  src: url('Graphik-Semibold.eot');
  src: url('Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Graphik-Semibold.woff2') format('woff2'),
    url('Graphik-Semibold.woff') format('woff'),
    url('Graphik-Semibold.ttf') format('truetype'),
    url('Graphik-Semibold.svg#Graphik-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*-----------------------------------------------------------------------------------*/
/*	02. DIVISIONE HOME
/*-----------------------------------------------------------------------------------*/
#home_bio_sez {
  background-color: #EEEEF4;
  width: 50%;
  height: 900px;
  position: relative;
  left: 0%;
  top: 0%;
  display: in-block;
  float: left;
  z-index: 1;
  cursor: url("images/bio.png"), auto;
  transition: background-color 0.8s;
  transition-timing-function: ease;
}

#home_bio_sez:hover {
  background-color: rgb(255, 241, 0);
  /* background-color: #eb4648; */
}

#home_photo_sez {
  background-image: url("images/pezovon.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  background-size: 100%;
  width: 50%;
  height: 900px;
  position: relative;
  left: 0%;
  top: 0%;
  display: inline-block;
  z-index: 1;
  cursor: url("images/photos.png"), auto;
  transition: background-size 5s;
  transition-timing-function: ease-out;
}

#tap_PH {
  position: absolute;
  top: 75%;
  left: 42.5%;
  display: inline-block;
  color: #EEEEF4;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  animation: lamp 1.6s ease-in-out 1s infinite alternate;
}

@keyframes lamp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#home_photo_sez:hover {
  background-size: 110%;
  /* background-position: -430% 60%; */
}

#scroll_please {
  position: absolute;
  width: 2%;
  left: 49%;
  top: 88%;
  border: 2.4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  z-index: 4;
  height: 48px;
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

#ball {
  position: absolute;
  left: 20%;
  top: 7%;
  background-color: #fff;
  width: 60%;
  height: 18px;
  z-index: 4;
  border-radius: 18px;
  animation: ball 1.2s ease-in-out infinite alternate;
}

@keyframes ball {
  0% {
    top: 7%;
  }

  100% {
    top: 50%;
  }
}

#big_hi {
  position: absolute;
  top: -7%;
  left: 20.2%;
  font-family: 'Beatrice Display' !important;
  font-weight: normal;
  font-style: italic;
  font-size: 9.1rem;
  z-index: 4;
  color: #38383D;
  line-height: 63.7%;
  animation: appearHi 1s ease-out 0.1s 1 normal forwards;
}
 /* the original */
@keyframes appearHi {
  from {
    opacity: 0;
    top: -7%;
  }

  to {
    opacity: 1;
    top: 17%;
  }
}

#big_photos {
  position: absolute;
  display: inline-block;
  top: 66%;
  right: 20%;
  font-family: 'Beatrice Display' !important;
  font-weight: normal;
  font-style: italic;
  font-size: 9.1rem;
  z-index: 4;
  color: #EEEEF4;
  opacity: 0%;
  animation: appearPhotos 1.7s ease-in-out 0.7s 1 normal forwards;
}

@keyframes appearPhotos {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#home_bio_sez img {
  position: absolute;
  display: block;
  top: 28%;
  left: 29%;
  z-index: 3;
  width: 41%;
  opacity: 0;
  animation: appearImg 2s ease-in-out 1s 1 normal forwards;
}

@keyframes appearImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#read_bio {
  position: absolute;
  top: 88%;
  left: 22.5%;
  display: inline-block;
  color: #38383D;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

#read_bio_mob {
  position: absolute;
  top: 90%;
  left: 22.5%;
  display: inline-block;
  color: #38383D;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  animation: lamp 2s ease-in-out 2.2s infinite alternate;
}

#cv {
  position: absolute;
  width: 659px;
  height: 53px;
  left: -14%;
  top: 52%;
  z-index: 4;
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #38383D;
  transform: rotate(-90deg);
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

.home_col_div {
  margin-bottom: 15%;
  cursor: pointer !important;
}

a.none {
  cursor: pointer !important;
}

.thumb_image {
  cursor: pointer !important;
}

a.none:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

.tit-project {
  width: 100%;
  font-size: 1rem !important;
  text-transform: uppercase;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 17px;
  color: #38383D;
}

.caption-project {
  text-transform: uppercase;
  text-align: justify;
  width: 100%;
  margin-top: 4%;
  font-size: 1rem !important;
  font-family: futura-pt, sans-serif;
  line-height: 17px;
  font-weight: 200;
  color: #38383D;
}

/*-----------------------------------------------------------------------------------*/
/*	03. NAV home
/*-----------------------------------------------------------------------------------*/
#first_home_nav {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0%;
  z-index: 2;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

@keyframes appearRest {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#fst_hm_contacts {
  position: absolute;
  top: 70%;
  left: 8%;
  display: inline-block;
  color: #38383D;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
}

#fst_bio_works {
  position: absolute;
  top: 70%;
  right: 8%;
  display: inline-block;
  color: #38383D;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
}

#fst_hm_works {
  position: absolute;
  top: 70%;
  right: 8%;
  display: inline-block;
  color: #EEEEF4;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
}

#fst_hm_title {
  position: absolute;
  top: 60%;
  left: 45%;
  display: inline-block;
  color: #38383D;
  width: 10%;
}

#fst_hm_title img {
  width: 100%;
  display: block;
}

#fst_hm_title p {
  font-family: 'Bodoni Std';
  font-weight: bold;
  letter-spacing: 0.12em;
  margin-top: 5%;
  text-align: center;
  font-size: 13px;
}

#fst_hm_works:hover, #fst_hm_bio:hover, .social li a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 4px rgba(33, 33, 33, 0.2);
}

#fst_hm_contacts:hover, #read_bio:hover, #cv:hover, #fst_bio_works:hover {
  color: #000;
  text-decoration: none;
  /* text-shadow: 0px 0px 3px rgba(60, 60, 60, 0.18); */
}

#container_home_projects {
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 2%;
}

/*-----------------------------------------------------------------------------------*/
/*	03. Frase under landing
/*-----------------------------------------------------------------------------------*/
#sentence_div {
  padding-left: 32%;
  padding-top: 170px;
  width: 100%;
  height: 550px;
}

#im {
  font-family: 'Rock Salt', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 29.5745px;
  line-height: 71px;
}

/*-----------------------------------------------------------------------------------*/
/*	00. bio page
/*-----------------------------------------------------------------------------------*/
#IBelieve_bio {
  margin-top: 15%;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 120.8%;
  color: #2B2B2D;
}

#IBelieve_play {
  margin-top: 15%;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 120.8%;
  color: #EEEEF4;
}

#works_ibelieve {
  line-height: 0.85;
  display: inline-block;
  color: #2B2B2D;
  text-decoration: underline;
  transition: padding 1s, color 1s;
  transition: background-color 0.8s;
}

#works_ibelieve:hover {
  text-decoration: underline;
  background-color: #2B2B2D;
  color: #EEEEF4;
}

#io_bio {
  display: block;
  margin-top: 4%;
  width: 87%;
}

#bio_row {
  margin-top: 7%;
}

#bio_row div h2 {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 120.8%;
  color: #38383D;
}

#bio_row div p {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  text-align: justify;
  font-weight: 200;
  font-size: 24px;
  line-height: 184.8%;
  color: #38383D;
}

#gifbox {
  padding: 0 10% 0 10%;
}

/* .width-gif{
  width: 75% !important;
} */
.gif-item {
  margin-bottom: 20%;
}

.number-gif {
  float: left;
  display: inline-block;
  width: 13%;
  margin-top: 4%;
  font-size: 1rem !important;
}

.caption-gif {
  text-transform: uppercase;
  text-align: justify;
  display: inline-block;
  width: 87%;
  margin-top: 4%;
  font-size: 1rem !important;
}

/*-----------------------------------------------------------------------------------*/
/*	00. contacts page
/*-----------------------------------------------------------------------------------*/
#containerconta {
  position: absolute;
  /* top: 29%; */
  bottom: 5%;
  left: 8%;
  z-index: 5;
  width: 84%;
}

#containerconta ul#futura {
  display: block;
  width: 45%;
}

#containerconta ul#futura li {
  margin-bottom: 8%;
}

.social {
  display: block;
  margin-left: 72%;
  padding-top: 1.7%;
}

#fst_hm_bio {
  position: absolute;
  top: 70%;
  left: 8%;
  display: inline-block;
  color: #EEEEF4;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
}

#video_pilo {
  width: 104%;
  /* margin-top: -3%; */
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}

#basedIn {
  color: #EEEEF4;
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

#RosolinoPilo {
  display: inline-block;
  color: #EEEEF4;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6em;
  line-height: 130%;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

#emailMe {
  color: #EEEEF4;
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0.4s 1 normal forwards;
}

#venturaGio {
  display: inline-block;
  color: #EEEEF4;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6em;
  line-height: 130%;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0.4s 1 normal forwards;
}

#call {
  color: #EEEEF4;
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0.8s 1 normal forwards;
}

#numeroTel {
  display: inline-block;
  color: #EEEEF4;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6em;
  line-height: 130%;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: appearRest 2s ease-in-out 0.8s 1 normal forwards;
  transition: border-bottom 0.8s;
}

#RosolinoPilo:after, #venturaGio:after, #numeroTel:after, .text:after {
  display: block;
  content: '';
  border-bottom: solid 1px #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

#RosolinoPilo:hover:after, #venturaGio:hover:after, #numeroTel:hover:after, .text:hover:after {
  transform: scaleX(1);
}

#RosolinoPilo:hover, #venturaGio:hover, #numeroTel:hover {
  color: #fff;
  text-decoration: none;
  /* border-bottom: 2px solid currentColor; */
  text-shadow: 0px 0px 4px rgba(33, 33, 33, 0.2);
}

#line {
  margin-top: 10%;
  width: 0%;
  background-color: red;
  border-bottom: 0.5px solid #EEEEF4;
  z-index: 4;
  animation: lineslide 1.6s ease 0.4s forwards;
}

@keyframes lineslide {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.social {
  color: #EEEEF4;
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  width: 30%;
}

.social li a {
  color: #EEEEF4;
  transition: color 1s;
}

.social li {
  float: left;
  display: inline-block;
  margin-left: 8%;
  opacity: 0;
}

.social li:nth-child(1) {
  animation: appearRest 2s ease-in-out 0s 1 normal forwards;
}

.social li:nth-child(3) {
  animation: appearRest 2s ease-in-out 0.4s 1 normal forwards;
}

.social li:nth-child(5) {
  animation: appearRest 2s ease-in-out 0.8s 1 normal forwards;
}

/*-----------------------------------------------------------------------------------*/
/*	00. photos
/*-----------------------------------------------------------------------------------*/
#containerpezo {
  background-image: url("images/pezovon.jpg");
}

.containerfull {
  width: 100%;
  height: 845px;
  background-size: 100%;
  padding-top: 19.3%;
}

#photos_pezo {
  font-family: 'Beatrice Display' !important;
  font-weight: normal;
  font-style: italic;
  font-size: 9.1rem;
  text-align: center;
  color: #EEEEF4;
  opacity: 0%;
  animation: appearPhotos 1.2s ease-in-out 0.2s 1 normal forwards;
}

#sentence_div_ph {
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 12%;
  width: 100%;
  padding-bottom: 10%;
}

#sentence_div_ph h2 {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 120.8%;
  color: #38383D;
}

#sentence_div_ph p {
  margin-top: 2.7%;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 140.8%;
  color: #38383D;
}

.relative {
  position: relative
}

.captionph {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 15px;
  text-align: right;
  margin-top: 2%;
  color: #38383D;
}

#phcimitero {
  width: 92%;
  margin-left: 0 !important;
}

#phgenova {
  width: 102.4%;
}

.bottomph {
  margin-bottom: 15%;
}

#phfavi {
  margin-top: 5%;
  width: 100%;
}

#phconcorde {
  display: inline-block;
  float: left;
  padding: 0;
  width: 59.2%;
}

#phmont {
  display: inline-block;
  padding: 0;
  width: 37.8%;
  margin-left: 3%;
}

#space {
  width: 91%;
  float: left;
  display: inline-block;
}

#space2 {
  width: 31%;
  float: left;
  display: inline-block;
  height: 40px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

#div_sLorenzo {
  width: 38%;
  margin-left: 31%;
}

.sicily {
  display: inline-block;
  width: 34.5%;
  padding: 0;
}

#identikit {
  margin-bottom: 4%;
  padding: 0 8%;
}

#superlove {
  margin-bottom: 10%;
  padding: 0 8%;
}

ul#footer li a {
  font-family: Bangla MN;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #9A9AA8;
  transition: 0.5s color;
}

ul#footer li a:hover {
  color: #38383D;
  transition-delay: 0.1s;
}

ul#footer li {
  display: inline-block;
  margin: 1.8%;
}

ul#footer {
  text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/*	00. Progetti
/*-----------------------------------------------------------------------------------*/
.containerfull_pro {
  width: 100%;
  height: 845px;
  background-size: 110%;
  padding-top: 19.3%;
  opacity: 0.3;
  background-position: center 55%;
  animation: zoomOut 1s ease 0s forwards;
}

@keyframes zoomOut {
  0% {
    background-size: 110%;
    opacity: 0.3;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    background-size: 100%;
  }
}

#full_younit {
  background-image: url("images/younit_full.jpg");
}

#full_fruttare {
  background-image: url("images/fruttare_full.jpg");
}

#full_lemille {
  background-image: url("images/lemille_full.jpg");
}

#full_ns {
  background-image: url("images/nomestudio_full.jpg");
}

#full_wal {
  background-image: url("images/wal_full.jpg");
}

#full_hotshoppes {
  background-image: url("images/hots_full.jpg");
}

#full_comunico {
  background-image: url("images/comunico_full.jpg");
}

.containerflow {
  margin-top: -6%;
  padding: 0 12%;
}

.label_project p {
  opacity: 0;
  animation: appearLabelP 1s ease 0s forwards;
}

@keyframes appearLabelP {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.label_project {
  width: 0%;
  height: 125px;
  opacity: 0;
  padding: 0.05% 4% 1.4% 4%;
  background-color: #FFEB37;
  animation: appearLabel 1s ease-out 0s forwards;
  ;
}

@keyframes appearLabel {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.tit_yellow {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 120.8%;
  color: #FFEB37;
  margin-top: 19%;
}

.specifiche {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120.8%;
  color: #EEEEF4;
  text-transform: uppercase;
  margin-top: 2%;
}

#year {
  color: #FFEB37;
}

.specifiche p {
  width: 180%;
}

.bea-tit {
  font-family: 'Beatrice Display' !important;
  font-weight: normal;
  font-style: italic;
  font-size: 8rem;
  color: #EEEEF4;
  opacity: 0%;
  animation: appearPhotos 1.7s ease-in-out 0.7s 1 normal forwards;
}

.descr {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 140.8%;
  color: #EEEEF4;
  padding: 0 0 0 2.5%;
}

.board {
  background-color: yellow;
  width: 100%;
  margin-top: 8%;
}

.board img {
  width: 100%;
}

.board video {
  width: 100%;
  margin-bottom: 0;
  display: block;
}

#linkover {
  width: 100%;
}

.board_link {
  position: relative;
  width: 100%;
  margin-top: 8%;
  background-color: #000;
  cursor: pointer;
}

.board_link img, .board_link video {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.board_link:hover .overlay {
  opacity: 0.87;
  cursor: pointer;
}

.board_link img:hover, .board_link video:hover {
  opacity: 0.2;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Bangla MN;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.board_link:hover .text {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.board_link:hover .text:after {
  display: block;
  content: '';
  border-bottom: solid 1px #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.board_link:hover .text:after {
  transform: scaleX(1);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #000;
}

.pro_links:hover {
  text-decoration: none;
  color: #FFEB37;
  font-weight: 400;
}

.pro_links {
  display: block;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFEB37;
}

#deepen {
  display: block;
  width: 100%;
  font-family: Bangla MN;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #EEEEF4;
  text-decoration: underline;
  transition: 0.5s color;
}

#deepen:hover {
  color: #FFEB37;
  transition-delay: 0.1s;
}

.more {
  width: 100%;
  padding: 6% 8% 6% 8%;
  background-color: #FFEB37;
}

.more .row h3 {
  width: 100%;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #38383D;
  margin-bottom: 5%;
}

.more img {
  width: 100%;
}

.pan_pro {
  padding: 0 2.5% !important;
}

.pan_pro:hover p.caption-project {
  text-decoration: none;
}

#footer_pro {
  display: block;
  width: 100%;
  font-family: Bangla MN;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: right;
  font-weight: bold;
  color: #4E4E55;
  text-decoration: none;
  transition: 0.5s color;
}

.rowfoot {
  width: 100%;
}

#footer_pro:hover {
  color: #000;
  transition-delay: 0.1s;
}

/*-----------------------------------------------------------------------------------*/
/*	00. Playlists
/*-----------------------------------------------------------------------------------*/
.playimg {
  width: 100%;
}

.playcaption {
  padding: 8% 8% 0% 8%;
}

.playcaption h2 {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 120.8%;
  color: #EEEEF4;
  transition: color 0.7s;
}

.playcaption a:hover {
  text-decoration: none;
}

.playcaption h2:hover {
  color: #FFEB37;
}

.playcaption p {
  margin-top: 4%;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 140.8%;
  color: #EEEEF4;
}

#conosco {
  margin-top: 4%;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 140.8%;
  color: #EEEEF4;
  transition: color 0.7s;
}

#conosco:hover {
  text-decoration: none;
  color: #FFEB37;
}

.playbox {
  margin-top: 10%;
}

/*-----------------------------------------------------------------------------------*/
/*	00. large pic
/*-----------------------------------------------------------------------------------*/
.large_pic {
  margin-top: 15%;
  padding: 0 8%;
}

.large_pic_cd {
  margin-top: 15%;
}

.large_pic img, .large_pic_cd img {
  display: block;
  width: 100%;
}

.large_pic_cap {
  width: 100%;
  margin-top: 4.5%;
}

.large_pic_cap p {
  text-align: center;
  display: block;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 140.8%;
  color: #EEEEF4;
}

/*-----------------------------------------------------------------------------------*/
/*	00. hamburger
/*-----------------------------------------------------------------------------------*/
#mobnav {
  z-index: 9;
  position: absolute;
  top: -48px;
  right: 30px;
}

ul#menu a {
  color: #EEEEF4;
  font-family: 'Bangla MN';
  font-weight: normal;
  text-transform: uppercase;
}

#menuToggle {
  display: block;
  position: relative;
  top: 70px;
  right: 0px;
  z-index: 11;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #FFEB37;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 12;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #38383D;
  border-radius: 1px;
  z-index: 10;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  width: 276px;
  margin: -51px 0 0 -200px;
  padding-left: 39px;
  padding-top: 76px;
  padding-right: 0px;
  height: 850px;
  background: #38383D;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(+100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 16px !important;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
}

/*-----------------------------------------------------------------------------------*/
/*	00. navbar che scende
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	00. media height
/*-----------------------------------------------------------------------------------*/
/* quando scende la barra di chrome */
@media (min-height: 880px) and (max-height: 900px) {
  #video_pilo {
    width: 102%;
    margin-top: 0;
    margin-left: -1%;
  }
}

@media(max-height:880px) {
  #home_bio_sez {
    height: 840px;
  }

  #home_photo_sez {
    height: 840px;
  }
}

@media(max-height:798px) {
  #home_bio_sez {
    height: 800px;
  }

  #home_photo_sez {
    height: 800px;
  }
}

@media(max-height:717px) {
  #home_bio_sez {
    height: 700px;
  }

  #home_photo_sez {
    height: 700px;
  }

  #big_photos {
    font-size: 5.5rem !important;
  }

  #big_hi {
    font-size: 5.5rem !important;
  }
}

@media(max-height:600px) {
  #home_bio_sez {
    height: 600px;
  }

  #home_photo_sez {
    height: 600px;
  }
}

/* full full */
@media(min-height:900px) {
  #home_bio_sez {
    height: 938px;
  }

  #home_photo_sez {
    height: 938px;
  }

  #read_bio {
    top: 86%;
  }

  #home_bio_sez img {
    top: 28%;
    left: 27%;
    width: 44%;
  }

  #video_pilo {
    width: 110%;
    margin-top: 0;
    margin-left: -8.5%;
  }

  #line {
    margin-top: 12%;
  }
}

@media (min-height: 540px) {
  @media (max-width: 950px) {
    #video_pilo {
      width: 118%;
      margin-top: 0;
      margin-left: -8.5%;
    }
  }
}

@media (min-height: 540px) {
  @media (max-width: 950px) {
    #containerconta {
      bottom: 2%;
      left: 4% !important;
      width: 92% !important;
      ;
    }

    .social {
      margin-left: 60%;
      width: 40%;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	mine media
/*-----------------------------------------------------------------------------------*/
@media (max-width: 1651px) {
  #home_photo_sez {
    background-size: 110%;
    /* background-position: -430% 60%; */
  }

  #space2 {
    width: 30.9%;
  }

  #home_photo_sez:hover {
    background-size: 120%;
  }

  #sentence_div {
    padding-left: 30%;
  }

  .containerfull_pro {
    width: 100%;
    height: 845px;
    background-size: 112%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 19.3%;
    opacity: 0.3;
    animation: zoomOut 1s ease 0s forwards;
  }

  .containerflow {
    margin-top: -7.2%;
  }
}

@media (max-width: 1560px) {
  .brnone {
    display: none;
  }

  .containerflow {
    margin-top: -10.2%;
  }
}

@media (max-width: 1454px) {
  #home_photo_sez {
    background-size: 110%;
  }

  #home_photo_sez:hover {
    background-size: 120%;
  }

  #big_photos {
    right: 22%;
  }

  #cv {
    left: -17%;
  }

  #scroll_please {
    width: 2.4%;
    left: 48.8%;
  }

  #ball {
    height: 16px;
  }

  .menu__item {
    padding-left: 22vw;
    justify-content: initial;
  }

  .menu__item-text {
    font-size: 6.4rem !important;
  }

  .social {
    margin-left: 68%;
    width: 38%;
  }

  #RosolinoPilo, #venturaGio, #numeroTel {
    font-size: 2.3rem
  }

  #futura {
    padding-inline-start: 2%;
  }

  .containerflow {
    margin-top: -15%;
  }
}

@media (max-width: 1305px) {
  #home_photo_sez {
    background-size: 120%;
    /* background-position: -237% 60%; */
  }

  #space2 {
    width: 30.8%;
  }

  .title .caption-project {
    text-align: left;
  }

  #home_photo_sez:hover {
    background-size: 130%;
  }

  #big_photos {
    font-size: 8em;
  }

  #photos_pezo {
    font-size: 8.1rem;
  }

  .containerfull {
    width: 100%;
    height: 695px;
    padding-top: 20.3%;
  }

  #big_hi {
    font-size: 8rem;
  }

  #IBelieve_bio, #IBelieve_play {
    margin-top: 22%;
  }

  #sentence_div {
    padding-left: 27%;
  }

  #fst_hm_title img {
    width: 120%;
  }

  #sentence_div_ph {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .social {
    margin-left: 66%;
    width: 38%;
  }

  #RosolinoPilo, #venturaGio, #numeroTel {
    font-size: 2.1rem
  }

  .containerflow {
    margin-top: -20%;
  }

  .bea-tit {
    font-size: 6.3rem;
  }

  .tit_yellow {
    font-size: 21px;
  }

  .label_project {
    height: 101px;
  }
}

@media (max-width: 1200px) {
  .containerflow {
    margin-top: -25%;
  }
}

@media (max-width: 1130px) {
  .containerflow {
    margin-top: -28%;
  }
}

@media (max-width: 1085px) {
  .containerflow {
    margin-top: -32%;
  }
}

@media (max-width: 1161px) {
  #home_photo_sez {
    background-size: 130%;
    /* background-position: -157% 30%; */
  }

  #space2 {
    width: 30.7%;
  }

  #home_photo_sez:hover {
    background-size: 140%;
  }

  #sentence_div {
    padding-left: 21%;
  }

  .containerfull {
    width: 100%;
    height: 578px;
    padding-top: 20.3%;
  }

  #photos_pezo {
    font-size: 6.1rem;
  }

  #big_photos {
    right: 14%;
    font-size: 6.5rem;
  }

  #io_bio {
    width: 100%;
  }

  #big_hi {
    font-size: 6.5rem;
  }

  #cv {
    left: -22%;
  }

  #scroll_please {
    width: 2.8%;
    left: 48.6%;
  }

  #ball {
    height: 15px;
  }

  .social {
    margin-left: 64%;
    width: 38%;
  }

  #containerconta {
    left: 4.5%;
    width: 91%;
  }

  #RosolinoPilo, #venturaGio, #numeroTel {
    font-size: 1.9rem
  }

  #basedIn, #emailMe, #call, .social li a {
    font-size: 0.8rem
  }
}

@media (max-width: 1039px) {
  #home_photo_sez {
    background-size: 130%;
    height: 620px;
  }

  #home_bio_sez {
    height: 620px;
  }

  #sentence_div {
    padding-left: 16%;
  }

  #home_bio_sez img {
    top: 27% !important;
    left: 31%;
  }

  #home_photo_sez:hover {
    background-size: 140%;
  }

  #photos_pezo {
    font-size: 7.1rem;
  }

  #big_photos {
    right: 20%;
    font-size: 4.2rem !important;
  }

  #big_hi {
    font-size: 4.2rem !important;
  }
  @keyframes appearHi {

    from {
      opacity: 0;
      top: -7%;
    }

    to {
      opacity: 1;
      top: 19%;
    }
  }

  #cv {
    left: -26%;
  }

  #scroll_please {
    width: 3%;
    left: 48.5%;
    height: 43px;
  }

  #ball {
    height: 14px;
  }

  .social {
    margin-left: 64%;
    width: 38%;
  }

  #containerconta {
    left: 5%;
    width: 90%;
    bottom: 3%;
  }

  #RosolinoPilo, #venturaGio, #numeroTel {
    font-size: 1.8rem
  }

  #line {
    margin-top: 8%;
  }

  #basedIn, #emailMe, #call, .social li a {
    font-size: 0.76rem
  }

  #futura {
    padding-inline-start: 2%;
  }

  .containerflow {
    margin-top: -36%;
    padding: 0 8.3%;
  }

  .bea-tit {
    font-size: 5.9rem;
  }

  .descr {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .specifiche p {
    width: 100%;
  }

  .tit_yellow {
    margin-top: 0;
  }

  .descr {
    margin-top: 6%;
  }

  #nopad {
    padding: 0;
    margin-bottom: 4%;
  }

  .containerflow {
    margin-top: -43%;
  }
}

@media (max-width: 900px) {
  #home_bio_sez img {
    top: 35% !important;
    left: 32%
  }

  .tab-none {
    display: none !important;
  }

  #full_fruttare {
    background-image: url("images/min/fruttare_full-min.jpg");
  }
  #full_younit {
    background-image: url("images/min/younit_full-min.jpg");
  }


  @keyframes appearHi {

    from {
      opacity: 0;
      top: -7%;
    }

    to {
      opacity: 1;
      top: 25%;
    }
  }

  #home_bio_sez {
    height: 500px;
  }

  #gifbox {
    padding: 0;
    margin-top: 8%;
  }

  #sentence_div {
    padding-left: 12%;
  }

  #photos_pezo {
    font-size: 5.2rem;
  }

  #containerpezo {
    padding-top: 24.3%;
  }

  #big_photos {
    top: 59%;
  }

  #home_photo_sez {
    height: 500px;
  }

  #cv {
    left: -35%;
    top: 27%;
    font-size: 11px;
  }

  #read_bio {
    top: 43%;
    font-size: 11px;
  }

  #phfavi {
    width: 576%;
    margin-top: 12%;
  }

  #overflow-large {
    overflow-x: scroll;
  }

  #swipeph1 {
    position: absolute;
    top: 373%;
    left: 46%;
    display: inline-block;
    color: #EEEEF4;
    font-family: 'Bangla MN';
    font-weight: normal;
    font-size: 15px;
    z-index: 6;
    cursor: pointer;
    opacity: 0;
    animation: lamp 1.4s ease-in-out 1.8s infinite alternate;
    text-shadow: 0px 0px 8px rgba(20, 20, 20, 1);
  }

  #swipeph2 {
    position: absolute;
    top: 945%;
    left: 48%;
    display: inline-block;
    color: #EEEEF4;
    font-family: 'Bangla MN';
    font-weight: normal;
    font-size: 15px;
    z-index: 6;
    cursor: pointer;
    opacity: 0;
    animation: lamp 1.4s ease-in-out 1.8s infinite alternate;
    text-shadow: 0px 0px 8px rgba(20, 20, 20, 1);
  }

  #phcimitero {
    width: 100%;
  }

  #phgenova {
    width: 100%;
    margin-top: 12%;
  }

  div>#phconcorde {
    padding: 0 6%;
  }

  div>#phmont {
    padding: 10% 6% 0 6%;
  }

  #phconcorde {
    display: block;
    float: clear;
    width: 100%;
    margin-top: 8%;
  }

  #phmont {
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-top: 12%;
  }

  #div_sLorenzo {
    width: 100%;
    padding: 0 6%;
    margin-left: 0%;
  }

  #space2 {
    width: 0%;
  }

  div>.sicily {
    padding: 0 6%;
  }

  .sicily {
    display: block;
  }

  .sicily:nth-child(2) {
    width: 100%;
  }

  .sicily:nth-child(3) {
    width: 100%;
  }

  #footer {
    margin-top: 6%;
  }

  .containerflow {
    margin-top: -48%;
  }

  .caption-project, .tit-project {
    font-size: 0.8rem !important;
  }

  .label_project {
    height: 91px;
  }
}

@media (min-width: 900px) {
  .tab-just {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .containerflow {
    margin-top: -58%;
  }
}

@media (max-width: 776px) {
  .containerflow {
    margin-top: -64%;
  }
}

@media (min-width: 530px) {
  .mob-just {
    display: none !important;
  }
}

@media (max-width: 530px) {
  .mob-none {
    display: none !important;
  }

  #home_bio_sez {
    width: 100%;
    height: 719px
  }

  #home_bio_sez img {
    width: 80%;
    left: 18%;
    top: 22% !important;
  }

  #home_photo_sez {
    left: 0% !important;
    width: 100%;
    top: 0px;
    background-image: url('images/min/pezovon-min.jpg');
    background-attachment: scroll;
    background-size: cover !important;
    background-position: 0% 0%;
    height: 719px
  }

  #containerpezo {
    background-image: url("images/min/pezovon-min.jpg");
  }

  #big_hi {
    width: 261px;
    height: 100.86px;
    left: 23px;
    top: -7%;
    font-family: Beatrice Display;
    font-style: italic;
    font-weight: normal;
    font-size: 5rem !important;
    line-height: 63.7%;
  }

  @keyframes appearHi {
    from {
      opacity: 0;
      top: -7%;
    }

    to {
      opacity: 1;
      top: 16%;
    }
  }

  #big_photos {
    right: 16%;
    top: 43%;
    font-size: 5rem !important;
  }

  /* logohome */
  #fst_hm_title {
    left: 7%;
    top: 17%;
  }

  #fst_hm_title img {
    width: 550%;
  }

  #read_bio {
    top: 92%;
    left: 14%;
    font-size: 18px
  }

  #sentence_div {
    padding: 50px 16px;
    width: 100%;
    height: 400px;
    text-align: center;
  }

  #navbardown {
    background-color: #EEEEF4;
    position: fixed;
    top: -80px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 7;
  }

  #navbardown #first_home_nav {
    background-color: #EEEEF4;
    height: 80px;
  }

  #navbardown #first_home_nav #fst_hm_title {
    top: 21%;
  }

  ul#footer li {
    display: block;
    text-transform: uppercase;
    padding: 0 !important;
    margin: 6%;
  }

  ul#footer {
    padding-inline-start: 0px;
    margin: 12%
  }

  #IBelieve_bio, #IBelieve_play {
    margin-top: 40%;
    font-size: 35px;
    margin-bottom: 30%;
  }

  #bio_row div p {
    font-size: 16px;
  }

  #number-gif {
    font-size: 16px !important;
  }

  #caption-gif {
    font-size: 16px !important;
    text-align: left;
  }

  #photos_pezo {
    font-size: 3.5rem;
  }

  #containerpezo {
    padding-top: 24%;
  }

  .containerfull {
    height: 248px;
  }

  #sentence_div_ph {
    padding-left: 10%;
    padding-right: 8%;
    padding-top: 16%;
    padding-bottom: 14%;
  }

  #sentence_div_ph h2 {
    margin-bottom: 6%;
  }

  #sentence_div_ph p {
    font-size: 16px;
  }

  #phcimitero {
    width: 100%;
  }

  #phgenova {
    width: 100%;
  }

  #swipeph1 {
    top: 337%;
    left: 43.5%;
  }

  #swipeph2 {
    top: 872%;
    left: 43%;
  }

  #video_pilo {
    width: 100%;
    position: static;
    padding: 6%;
    margin-left: 0;
    margin-top: 19%;
  }

  #containerconta ul#futura li {
    margin-bottom: 13%;
  }

  #containerconta {
    left: 5%;
    width: 90%;
    top: 48% !important;
  }

  #futura {
    width: 100% !important;
    margin-left: 2%;
    padding: 0 3% 0 4%;
  }


#RosolinoPilo, #venturaGio, #numeroTel {
  font-size: 1.6rem;
  display: block;
  font-weight: 200;
}

#line {
  margin-top: 11%;
  margin-bottom: 12%;
  opacity: 0.5
}

#basedIn, #emailMe, #call, .social li a {
  font-size: 1rem;
}

#futura {
  padding-inline-start: 0%;
}

.social {
  margin-left: 0%;
  width: 100%;
  padding: 0 6%;
}

.social li {
  display: block;
  float: none;
  margin-left: 0%;
  opacity: 0;
  margin-bottom: 8%;
}

.bea-tit {
  font-size: 2.9rem;
}

.containerflow {
  margin-top: -124%;
}

.descr {
  font-size: 16px;
}

.containerfull_pro {
  background-position: center 16%;
  height: 744px;
}

.large_pic_cap p {
  font-size: 1rem;
  padding: 0 6%;
}

.large_pic {
  padding: 0px 6.5%;
  margin-top: 30%;
  overflow: scroll;
}

/* .large_pic img:hover {
  width: 230%;
  margin-left: -10%;
} */


#zoom{
  position:absolute;
  top: 35%;
  left: 36%;
  display: inline-block;
  color: #EEEEF4;
  font-family: 'Bangla MN';
  font-weight: normal;
  font-size: 15px;
  z-index: 6;
  cursor: pointer;
  opacity: 0;
  animation: lamp 2s ease-in-out 2.2s infinite alternate;
  text-shadow: 0px 0px 8px rgba(20, 20, 20, 1);
}
#ics{
  position:absolute;
  top: 28%;
  left: 70%;
  color: #EEEEF4;
  text-shadow: 0px 0px 8px rgba(20, 20, 20, 1);
  display: none;
}

.label_project {
  margin-left: -10%;
}

@keyframes appearLabel {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 120%;
    opacity: 1;
  }
}
}

@media (max-width: 400px) {
  #swipeph1 {
    top: 311%;
  }

  #swipeph2 {
    top: 768%;
  }

  .playcaption p{
    font-size: 16px
  }
  .playcaption h2{
    font-size: 19px
  }
  .containerflow {
    margin-top: -118%;
}
}

@media (max-width: 387px){
  .containerfull_pro{
    height: 717px;
  }
  #swipeph2{
    top: 754%;
  }
  .containerflow {
    margin-top: -123%;
}
}




/* label pro mob */
@media (max-width: 373px){
  .containerfull_pro{
    height: 717px;
  }
  #swipeph2{
    top: 754%;
  }


}
@media (max-width: 361px){
  .containerfull_pro{
    height: 707px;
    background-position: center 18%;
  }
  #swipeph2{
    top: 740%;
  }
  .containerflow {
    margin-top: -134%;
}

}
@media (max-width: 348px){
  .containerfull_pro{
    height: 685px;
  }
  #swipeph2 {
    top: 715%;
}
.containerflow {
  margin-top: -132%;
}

}

/*-----------------------------------------------------------------------------------*/
/* ipadpro verticale
/*-----------------------------------------------------------------------------------*/
@media (min-height: 650px) {
  @media (max-width: 1300px) {
    #video_pilo {
      width: 100%;
      position: static;
      padding: 6%;
      margin-left: 0;
      margin-top: 12%;
    }

    #containerconta {
      left: 5%;
      width: 90%;
      bottom: 4%;
    }

    #RosolinoPilo, #venturaGio, #numeroTel {
      font-size: 2rem
    }

    #line {
      margin-top: 15%;
    }

    #basedIn, #emailMe, #call, .social li a {
      font-size: 0.9rem
    }

    #futura {
      padding-inline-start: 2%;
    }

    .social {
      margin-left: 22%;
      width: 71%;
    }
  }
}

@media (max-width: 992px) {
  .pan_pro {
    margin-bottom: 8%;
  }
}

/*-----------------------------------------------------------------------------------*/
/* ipad verticale
/*-----------------------------------------------------------------------------------*/
@media (min-height: 650px) {
  @media (max-width: 1300px) {
    #RosolinoPilo, #venturaGio, #numeroTel {
      font-size: 1.9rem
    }

    #line {
      margin-top: 13%;
    }

    #basedIn, #emailMe, #call, .social li a {
      font-size: 0.8rem
    }

    .social {
      margin-left: 21%;
    }
  }
}
